// Featured

.featured-news-container,
.site-main.videos-page .hero-section {
  background-color: $color_red;
  margin: 5rem 0 0 0;
  padding: 0.5rem 0 2rem 0;

  h1 {
    font-weight: 200;
    margin: 0 0 0 1rem;
    font-size: 2rem;
  }

  a {
    text-decoration: none;
  }

  img.news-hero-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .hero-info {
    padding: 0 16px;
  }

  .card-date.news-hero,
  .card-date.video-hero {
    padding: 0;
  }
  .card-title.news-hero,
  .card-title.video-hero {
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }
  .hero-text {
    padding: 1rem 0 0 0;
  }
}

@media (min-width: $breakpoint-tablet-sm) {
  .featured-news-container,
  .site-main.videos-page .hero-section {
    margin: 2rem 0 0 0;
    background-color: transparent;
  }
  .featured-news-container .featured-news a,
  .video-hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 200px;
    padding: 0 16px;
  }
}

// Featured END

.site-main.news h2,
.site-main.videos-page h2 {
  text-align: center;
  margin-top: 4rem;
}

// News Item

.news-item,
.video-item {
  margin: 0 0 4rem 0;
  .video-item {
    margin: 0;
  }
}

.news-item a {
  text-decoration: none;
}

.news-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
}

.card-thumbnail-img.news {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.card-date.news,
.card-date.video {
  margin: 8px 0 0 0;
  padding: 0 1rem 0 1rem;
  font-size: 12px;
  color: $color_label;
}

.card-title.news,
.card-title.video {
  margin: 0;
  padding: 0 1rem 0 1rem;
}

.video-hero-wrapper iframe {
  width: 767px !important;
}

// =============== RESPONSIVE STYLE =============== //
@media (min-width: $breakpoint-mobile-2-columns) {
  #news-container,
  #video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px;
    column-gap: 16px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-date.news,
  .card-title.news,
  .card-date.video,
  .card-title.video {
    padding: 0;
  }
}

@media (min-width: $breakpoint-tablet-sm) {
  .site-main.news h2,
  .site-main.videos-page h2 {
    margin-top: 3rem;
  }

  #news-container,
  #video-container {
    max-width: 640px;
  }

  .video-hero-wrapper iframe {
    width: 1000px !important;
    height: 300px !important;
  }
}

@media (min-width: $breakpoint-desktop-sm) {
  #news-container,
  #video-container {
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-hero-wrapper iframe {
    height: 400px !important;
  }

  .site-main.news h2,
  .site-main.videos-page h2 {
    width: 960px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

@media (min-width: $breakpoint-desktop-lrg) {
  #news-container,
  #video-container {
    max-width: calc($max-width - 64px);
  }

  .video-hero-wrapper iframe {
    height: 544px !important;
  }

  .site-main.news h2,
  .site-main.videos-page h2 {
    width: calc($max-width - 64px);
  }
}
