// HERO SECTION
.bfl-to-ufc-hero-section {
    position: relative;

    .hero-image {
        width: 100%;
        max-height: 25rem;
        object-fit: cover;
        object-position: center !important;
    }

    .tabs {
        position: absolute;
        bottom: 40%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        
        .tab-button { 
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .tab-button:hover {
            background-color: $color_hover_red;
        }
    }
}

@media (min-width: $breakpoint-tablet-sm) {
    .bfl-to-ufc-hero-section {
        .hero-image {
            object-position: 50% 20%;
        }

        .tabs {
            .tab-button {
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                margin: 0 1rem;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop-sm) {
    .bfl-to-ufc-hero-section {
        .hero-image {
            max-width: $max-width;
            margin: 0 auto;
            // max-height: 35rem;
        }
    }
}

// FIGHTERS SECTION
#list-of-bfl-to-ufc,
#list-of-on-the-ufc-radar {
    h2 {
        padding: 1rem 0 0 1.5rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 1rem;
        padding: 0 1.5rem;

        li {
            width: 47%;
            max-width: 12.5rem;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                flex: 1;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet-sm) {

    #list-of-bfl-to-ufc,
    #list-of-on-the-ufc-radar {

        h2 {
            font-size: 1.5rem;
        }

        ul {
            img {
                width: 12.5rem;
            }
        }
    }
}

// BFL TO UFC DESCRIPTION SECTION
.bfl-to-ufc-description {
    margin-bottom: 4rem;

    p {
        padding: 0 1.5rem;
        max-width: 50rem;
        margin: 2rem auto;
    }
}