// HERO SECTION
.hero-section.bfl-to-ufc {
  margin: 40px 16px 16px 16px;
  padding-top: 24px;
  h1.title.bfl-to-ufc {
    position: initial;
    text-align: center;
    font-size: 2.5rem;
    margin: 24px 0 20px 0;
  }
}
@media (min-width: $breakpoint-mobile-lrg) {
  .hero-section.bfl-to-ufc {
    margin-top: 45px;
  }
}
@media (min-width: $breakpoint-tablet-sm) {
  .hero-section.bfl-to-ufc {
    margin-top: 0;
  }
}

// Tab
.tab-wrapper {
  background-color: #222;
  margin: auto;
  max-width: 500px;
}

.tabs.bfl-to-ufc {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .tab-button {
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0;
    background-color: $color_black;
    transition: background-color 0.2s ease;
  }
  .tab-button.active {
    background-color: #222;
  }
  .tab-button:hover {
    background-color: #333;
  }
}

.tab-content {
  padding: 24px 8px 8px 8px;
}

#list-of-bfl-to-ufc,
#list-of-on-the-ufc-radar {
  h2 {
    padding: 1rem 0 0 1.5rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin: auto;
    li {
      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        transition: background-color 0.3s ease;
        img {
          flex: 1;
          width: 100%;
          object-fit: cover;
        }
      }

      a:hover,
      a:focus,
      a:active {
        background-color: $color_hover_red;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet-sm) {
  #list-of-bfl-to-ufc,
  #list-of-on-the-ufc-radar {
    h2 {
      font-size: 1.5rem;
    }

    ul {
      img {
      }
    }
  }
}

// BFL TO UFC DESCRIPTION SECTION
.bfl-to-ufc-description {
  margin-bottom: 4rem;

  p {
    padding: 0 1.5rem;
    max-width: 50rem;
    margin: 2rem auto;
  }
}

// TAB RESPONSIVE
@media (min-width: $breakpoint-mobile-lrg) {
  .hero-section.bfl-to-ufc {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}
@media (min-width: $breakpoint-tablet-sm) {
  .hero-section.bfl-to-ufc {
    max-width: 600px;
  }
  .tab-wrapper {
    max-width: 640px;
  }
  #list-of-bfl-to-ufc,
  #list-of-on-the-ufc-radar {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (min-width: $breakpoint-desktop-sm) {
  .hero-section.bfl-to-ufc {
    max-width: 800px;
  }
  .tab-wrapper {
    max-width: 960px;
  }
  #list-of-bfl-to-ufc,
  #list-of-on-the-ufc-radar {
    ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
@media (min-width: $breakpoint-desktop-lrg) {
  .tab-wrapper {
    max-width: calc($max-width - 64px);
  }
}
