.site-branding {
    width: fit-content;
}

.custom-logo-link {
    height: fit-content;
    background-color: #C60504;
}

.header-logo-text {
    background-color: #C60504;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding-left: 1rem;
}

// Countdown Timer
.countdown-timer {
    width: fit-content;
}