.rankings-page {
  .content-section {
    margin: 2rem 1rem 0;
    max-width: 100%;

    .ranking-header {
      margin: 0 auto 2rem;

      ul {
        display: none;
      }

      .mobile-dropdown {
        display: block;
        margin: 0 auto;
        border-radius: 0.5rem;
        border: none;
        text-align: center;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>")
          no-repeat;
        background-position: right 8px center;
        background-color: $color-red;
        padding: 8px 32px 8px 12px;
        border: none;
        border-radius: 4px;
        max-width: 70%;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: #666;
        }

        /* Remove default arrow in IE */
        &::-ms-expand {
          display: none;
        }
      }
    }

    .division-group {
      h2 {
        display: none;
      }
      .division {
        margin-bottom: 4rem;
        .division-title {
          text-align: center;
          font-family: "inter";
          font-weight: 400;
          font-size: 1rem;
          margin: 8px 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .champion-box {
          p {
            text-align: center;
            margin: 0;
          }
          .fighter-name {
            font-weight: 600;
            margin-top: 12px;
          }
          .fighter-record {
            font-size: 14.4px;
            min-height: 21.6px;
            margin-bottom: 24px;
          }

          .champion-box-link {
            .card-thumbnail-box {
              width: 80%;
              margin: 0 auto;
              img {
                margin: 0 auto;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .ranking-table {
          margin: 0 auto;
          max-width: 20rem;
          position: relative;
          thead {
            // position: relative;
            margin: 0;
            &::after {
              position: absolute;
              content: "";
              background-color: $color-red;
              top: 2.1rem;
              left: 0;
              right: 0;
              width: 100%;
              height: 1px;
              box-sizing: border-box;
            }
            tr {
              text-align: left;
              th {
                font-weight: 400 !important;
                background: transparent !important;
                &:first-child {
                  width: 10%;
                }
                &:last-child {
                  text-align: right;
                }
              }
            }
          }

          tbody {
            p {
              margin: 0.5rem 0 0;
            }
            tr {
              font-weight: 300;
              font-size: 0.9rem;
              text-align: left;
              .fighter-name {
                align-content: baseline;
                a {
                  text-decoration: none;
                }
              }
              .rank {
                align-content: baseline;
              }
              .fighter-record {
                text-align: right;
              }
            }

            .record-table {
              margin-bottom: 0;
              th {
                font-weight: 300;
                background: transparent !important;
              }
              tr {
                display: flex;
                justify-content: flex-end;
                gap: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 30em) {
  .rankings-page {
    .content-section {
      .division-group {
        .division-group-wrapper {
          .division {
            .champion-box {
              .champion-box-link {
                .card-thumbnail-box {
                  width: 60%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 44em) {
  .rankings-page {
    .content-section {
      .ranking-header {
        ul {
          gap: 0.3rem;
          li {
            button {
              font-size: 1rem;
              padding: 0;
            }
          }
        }
      }
      .division-group {
        .division-group-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;

          h2 {
            grid-template-columns: 1/-1;
          }
          .division {
            .ranking-table {
              width: 80%;
              margin: 0 auto;
            }
            .champion-box {
              .champion-box-link {
                .card-thumbnail-box {
                  width: 65%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet-sm) {
  .rankings-page .hero {
    margin-top: 0px;
  }
}

@import "ranking-page-desktop";
