.site-main.single-bfl-fighters {
  padding-top: 40px;
}

.fighter-hero-section {
  position: relative;
  .fighter-banner {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    filter: brightness(0.5);
  }
  h1 {
    position: absolute;
    bottom: 0;
    margin: 0 32px;
  }
}

.fighter-profile-section {
  padding: 0 16px;
  margin-bottom: 5rem;
  .fighter-description {
    margin: 16px;
  }

  .fighter-photo-wrapper {
    max-width: 300px;
    margin: auto;
  }
  .fighter-photo {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  }
  .fighter-tag {
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    background-color: $color_red;
  }
}

.site-main.single-bfl-fighters .fighter-record {
  margin: 32px 0;
  p {
    border-bottom: 1px solid #555;
    padding: 16px 0;
    margin: 0 8px;
  }
}

// =============== RESPONSIVE STYLE =============== //
@media (min-width: $breakpoint-mobile-2-columns) {
  .fighter-profile-section {
    padding: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $breakpoint-tablet-sm) {
  .site-main.single-bfl-fighters {
    padding-top: 0;
  }

  .fighter-hero-section h1 {
    margin: 32px 48px;
  }

  .fighter-profile-section {
    width: 640px;
    .fighter-description {
      margin: auto;
      margin-top: 48px;
      margin-bottom: 48px;
      max-width: 600px;
    }
  }
}

@media (min-width: $breakpoint-desktop-sm) {
  .fighter-profile-section {
    width: 960px;
  }
  .fighter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $breakpoint-desktop-lrg) {
  .fighter-profile-section {
    width: calc($max-width - 64px);
  }
}
