.single-event-heading {
    text-align: center;
}

.betting-odds, .tickets {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    display: block;
    width: 50%;
    background-color: lightgray;
    text-align: center;
    color: #000;
}

.betting-odds:visited, .tickets:visited {
    color: #000;
}

.event-poster img {
    min-width: 100%;
}

.fight-details {
    width: fit-content;
    margin: 0 auto;
}

.fight-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fight-card img {
    width: 8rem;
}

.single-event-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.single-event-videos h3 {
    width: 100%;
}

.core-details .core-details-line {
    transform: rotate(90deg);
    background-color: $color_red;
    height: 2px;
    width: 4rem;
    position: absolute;
    left: -1.5rem;
    top: -0.5rem;
}

.core-details p {
    padding-left: 1rem;
}