/* Dashboard Styles */

#wpbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wpbody-content {
    max-width: 1100px;
    width: 100% !important;
}

.postbox-container {
    all: unset;
}


/* Welcome Widget */

#welcome_message .inside {
    padding: 0;
    margin: 0;
}

.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c70304;
}

.welcome-header img {
    width: 7rem;
    padding: 1rem;
}

.dashboard-welcome-message {
    font-family: "Times New Roman", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}

.whitespace-link, .whitespace-link:visited, .whitespace-link:hover, .whitespace-link:active, .whitespace-link:focus {
    text-decoration: none;
    color: #aaa;
}

.dashboard-long-message {
    font-size: 1.3rem;
    padding: 1rem;
}

/* Tutorials */

#tutorials .inside {
    padding: 0;
    margin: 0;
}

.tutorial-main-title {
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}

.single-tutorial {
    padding: 1rem;
    max-width: 50rem;
    margin: 1rem auto;
    background-color: #aaa;
    border: 5px solid #888888;
}

.tutorial-title {
    padding: 2rem 0 !important;
}

@media(min-width: 40.625rem) {
    /* Tutorial */
    .all-tutorials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
        gap: 1rem;
    }
    
    .single-tutorial {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .tutorial-title {
        flex: 1;
    }
}

@media(min-width: 62.5rem) {

    /* Welcome Widget */
    .dashboard-long-message {
        padding: 2rem 5rem;
    }
}