// Hero

.hero {
    position: relative;
}

.hero h1 {
    margin: 0;
    position: absolute;
    bottom: 0.5rem;
    left: 1.4rem;
    font-size: 2.2rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.hero img {
    width: 100%;
    max-height: calc(100vh - 8.75rem);
    object-fit: cover;
    margin: 0 auto;
}

@media(min-width: $breakpoint-tablet-sm) {
    .hero h1 {
        bottom: 0.5rem;
        left: 2rem;
        font-size: 3.5rem;
    }
}
