.site-footer{
    background-color: $color-red;
    padding: 1.5rem 0;
    text-align: left;

    .footer-wrapper{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        
            a{
                text-decoration: none;
                transition: color 0.3s ease;
                &:visited,&:focus, &:active{
                    color: $color-white;
                }

                &:hover{
                    color:$color-black;
                }
            }


        .footer-logo{

            img{
                display: block;
                margin: 0 auto 1rem;
                max-width: 12rem;
                padding: 1rem;
            }
        }
        
        .bfl-footer-column{
            margin-bottom: 2.5rem;
            width: 100%;
            p{
                font-size: 1.1rem;
                font-weight: 500;
                margin-bottom: 0.7rem;
                margin-left: 0.47rem;
                position: relative;
                &::before{
                    position: absolute;
                    content: '|';
                    left: -0.5rem;
                    bottom: 0.17rem;
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: $color-black;

                }
            }
            li{
                font-weight: 300;
            }
        }


        .links-wrapper-without-accordion{
            display: none;
        }

        // Accordion style
        .links-wrapper-accordion{
            .accordion-column {
                margin-bottom: 0.5rem; 
                transition: margin 0.3s ease-in-out;
              
                p {
                  margin-top: 0;
                  margin-bottom: 0;
                  &::before {
                    display: none;
                  }
                }
              
                .accordion-item {
                  height: 0;
                  overflow: hidden;
                  margin-left: 1.5rem;
                  opacity: 0;
                  transition: height 0.3s ease-in-out,
                              opacity 0.2s ease-in-out,
                              margin 0.3s ease-in-out; 
                  
                  > * {
                    opacity: 0;
                    transform: translateY(-10px);
                    transition: opacity 0.2s ease-in-out,
                                transform 0.2s ease-in-out;
                  }
                }
              
                &:has(.accordion-open) {
                  margin-bottom: 1.5rem;
                }
              
                .accordion-open + .accordion-item {
                  opacity: 1;
                  margin-bottom: 1rem; 
                  
                  > * {
                    opacity: 1;
                    transform: translateY(0);
                  }
                }
              
                &:last-child:not(:has(.accordion-open)) {
                  margin-bottom: 0;
                }
              }
              
              .accordion-title {
                margin-left: 0;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 0;
                transition: color 0.2s ease-in-out;
              
                span {
                  font-weight: 300;
                }
              }
              
              .hide-toggle-sign {
                display: none;
              }
              
              .plus-sign,
              .minus-sign {
                transition: transform 0.3s ease-in-out;
                width: 16px;
              }
              
              .accordion-open .plus-sign {
                transform: rotate(90deg);
              }
        }
        

        //social links
        .social-icons-footer{
 
            .social-icons-nav{
                    margin-bottom: 1rem;
                    display: flex;
                    gap: 1.2rem;
                    @include flex-center-center;
                    li{
                        a{ 
                            img{
                                height: 1.5rem;
                                width: 1.5rem;
                                transition: transform 0.3s ease;
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
            }
        }
        .copyright-info-wrapper{
            text-align: center;
            .bfl-copyright{
                p{
                    font-weight: 300;
                    margin-bottom: 1rem;
                }
            }
    
            .site-info{
                font-weight: 300;
                font-size: 0.8rem;
                a{
                    text-decoration: underline;
                }
            }
        }
    }

}

@media(min-width:$breakpoint-mobile-lrg){
    .site-footer{
        .footer-wrapper{
            .links-wrapper-accordion{
                display: none;
            }
        
            .links-wrapper-without-accordion{
                display: flex;
            }
        }
    }
}

@import 'desktop-footer';